<section class="answers">
    <div class="container">
        <div class="answers-info">
            Результат прохождения теста <img src="images/arrow-gray.png" alt="Маленькая стрелка"> <span
                id="answers-info-title">Тест №1. “JavaScript: Начальный уровень”</span>
        </div>
        <h1 class="big-title answers-title"><span>Правильные ответы</span> к тесту</h1>
        <div class="answer-user">Тест выполнил <span id="answer-user"></span></div>
        <div class="answers-test" id="answers-test">
        </div>
        <div class="answer-result" id="see-result">
            <div>Обратно к моему результату теста<img src="images/small-arrow.png"
                                                             alt="Маленькая стрелка"></div>
        </div>
    </div>
</section>
